.container.testimonials__container{
    width: 45%;
    padding-bottom: 3rem;
}

.testimonial{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius:2rem;
    user-select: none;
}

.certificate__image{
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

/* .certificate__image:hover{
    padding: 0.2rem;
} */

/* --------------------------- Media queries (medium deivces) ------------------ */
@media screen  and (max-width:1024px) {
    .container.testimonials__container{
        width: 60%;
    }

}

/* --------------------------- Media queries (small deivces) ------------------ */
@media screen  and (max-width:600px) {
    .container.testimonials__container{
        width: var(--container-width-sm);
    }

}